@charset "UTF-8";
body {
  height: 100%;
  margin: 0;
  font-family: "Limelight", cursive;
  font-family: "RocknRoll One", sans-serif;
}

a {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-size: 100%;
  outline: none;
}

.btn:hover {
  opacity: 0.8;
  color: white;
}

.btn {
  background-color: #E93B81 !important;
}

.btn-delete {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #FFE194;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  width: 32%;
}

.btn-delete:hover {
  background-color: #6d6108;
  color: white;
}

#login-html,
#signup-html,
#top-html,
#user-html,
#my-profile-html,
#profile-edit-html,
#user-profile-html,
#post-html {
  display: none;
}

.hide {
  display: none;
}

header {
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b6c9f0 !important;
}

header .nav-bar {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}

header .nav-bar .nav-style {
  padding: 10px 25px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  align-items: center;
}

header .nav-bar .nav-title {
  padding: 10px 0;
  margin-right: 30px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  display: inline-block;
  align-items: center;
}

header .nav-bar .nav-title:hover {
  opacity: 0.7;
}

header .nav-bar .nav-item .nav-item-hidden {
  display: none;
}

header .nav-bar .nav-item .nav-hidden {
  display: none;
}

header .nav-bar .nav-show-ul {
  list-style: none;
}

header .nav-bar .nav-tab {
  padding: 13px 0;
  height: 35px;
}

header .nav-bar .nav-tab .nav-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

header .nav-bar .nav-tab .nav-menu > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  transition: transform 0.7s;
}

header .nav-bar .nav-tab .nav-menu > span:last-child {
  margin-bottom: 0;
}

.menu-open .nav-menu > span {
  background-color: white;
}

.menu-open .nav-menu > span:nth-child(1) {
  transform: translateY(11px) rotate(135deg);
}

.menu-open .nav-menu > span:nth-child(2) {
  transform: translateX(-18px) scaleX(0);
}

.menu-open .nav-menu > span:nth-child(3) {
  transform: translateY(-11px) rotate(-135deg);
}

.top-image {
  min-height: 100vh;
  background: url(image/top1.jpg);
  background-size: cover;
}

.top-image .text-center-toppage {
  width: 90%;
  margin: 0 auto;
  padding-top: 140px;
  text-align: center;
}

.top-image .text-center-toppage > h1 {
  color: black;
  font-size: 60px;
}

.top-image .text-center-toppage > h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

.top-image .text-center-toppage .top-button {
  background-color: #ff33ff;
  border: none;
  color: white;
  width: 132px;
  font-size: 20px;
  margin-top: 80px;
  margin-right: 20px;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.signup-main {
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
}

.signup-main h2 {
  margin-top: 30px;
}

.signup-main a {
  text-decoration: none;
}

.signup-main .btn-tip {
  background-color: #b6c9f0 !important;
}

.signup-main .form-group {
  margin-bottom: 20px;
}

.signup-main .form-group .signup-font {
  font-size: 17px;
}

.signup-main .form-group .label-tag {
  width: 100%;
}

.signup-main .top-button {
  background-color: #ff33ff;
  border: none;
  color: white;
  width: 100%;
  font-size: 20px;
  margin-top: 80px;
  margin-right: 20px;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.signup-main .form-control {
  margin-top: 10px;
}

.signup-main .btn.btn-info.btn-lg {
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 5px;
}

header .drop-menu {
  color: white;
  font-size: 25px;
  padding-bottom: 20px;
}

header .drop-menu:hover {
  opacity: 0.7;
}

header .drop-menu-style {
  margin-bottom: 10px;
}

.card-body > img {
  width: 246px;
  margin: 0px;
}

.profile-main {
  margin: 0 auto;
  width: 80%;
  padding-top: 190px;
}

.profile-main #card-body {
  margin-left: 15px;
}

.profile-main #card-body .edit-btn {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.profile-main .introduction-post > h2 {
  color: #ffc107;
}

.profile-main .profile-icon {
  margin-bottom: 50px;
  width: 20%;
}

.profile-main .profile-icon .card .top-user-log {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 5px 17.8px 5px 17.8px;
  border-radius: 8px;
  margin-right: 5px;
}

.profile-main .profile-tab {
  margin: 0 auto;
}

.profile-main .profile-tab .top-btn {
  background-color: #ff33ff;
  border: none;
  color: white;
  width: 70%;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  border-radius: 10px;
  cursor: pointer;
  display: inline;
  text-decoration: none;
}

.profile-main .profile-tab #nav-tabContent {
  margin-top: 30px;
}

.profile-main .profile-tab #my-post-list {
  border-top: #125d98 solid 1px;
  margin-bottom: 30px;
}

.profile-main .profile-tab #my-post-list #top-card {
  margin-right: 30px;
}

.profile-introduction {
  padding-top: 40px;
  padding-left: 30px;
}

.profile-introduction:before {
  content: "";
  background-color: #ff33ff;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.profile-introduction .introduction-item {
  padding-top: 30px;
}

.profile-introduction .top-user-good {
  color: #ff33ff;
  font-size: 50px;
  margin-top: 15px;
  margin-top: 80px;
  font-size: 30px;
  font-weight: bold;
}

.profile-introduction .top-user-good > button {
  border: none;
  background-color: transparent;
  padding-left: 0px;
}

.top-page {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 80px;
  padding-top: 80px;
}

.top-page .top-title-arasi {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 50px;
}

.top-page .top-title-arasi > h2 {
  font-size: 43px;
}

.top-page .top-title-arasi:before {
  content: "";
  background-color: #e93b81;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title2 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title2:before {
  content: "";
  background-color: #f5abc9;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title3 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title3:before {
  content: "";
  background-color: #ffc107;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title4 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title4:before {
  content: "";
  background-color: #fb3640;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title5 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title5:before {
  content: "";
  background-color: #f7fd04;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title6 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title6:before {
  content: "";
  background-color: #7952b3;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title7 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title7:before {
  content: "";
  background-color: #e93b81;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title8 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title8:before {
  content: "";
  background-color: #ffe227;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title9 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title9:before {
  content: "";
  background-color: #e93b81;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title10 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title10:before {
  content: "";
  background-color: #125d98;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title11 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title11:before {
  content: "";
  background-color: #fb9300;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title12 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title12:before {
  content: "";
  background-color: #867ae9;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title13 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title13:before {
  content: "";
  background-color: #8328bb;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title14 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title14:before {
  content: "";
  background-color: #8ab6d6;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title15 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title15:before {
  content: "";
  background-color: #e1701a;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title16 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title16:before {
  content: "";
  background-color: #185adb;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .top-title17 {
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  display: block;
  padding-top: 40px;
  padding-left: 40px;
}

.top-page .top-title17:before {
  content: "";
  background-color: #fa163f;
  display: block;
  position: absolute;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
}

.top-page .post-item {
  margin-right: 50px;
}

.top-page .top-card {
  margin-top: 30px;
}

.top-page .top-card .post-item__image-wrapper > a > img {
  width: 300px;
  height: 230px;
}

.top-page .top-card .post-item__image-wrapper > a > img:hover {
  box-shadow: 5px 5px 5px black;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.top-page .top-card .post-item__delete-wrapper {
  margin-top: 15px;
}

.top-page .top-card .top-user-log {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 5px 17.8px 5px 17.8px;
  border-radius: 8px;
  margin-right: 5px;
}

.top-page .top-card .top-user-title {
  width: 300px;
}

.top-page .top-card .top-user-good {
  font-size: 20px;
  margin-top: 15px;
}

.top-page .top-card .top-user-good > button {
  border: none;
  background-color: transparent;
}

#my-post-list .top-card {
  margin-top: 30px;
}

#my-post-list .top-card .post-item__image-wrapper > a > img {
  width: 300px;
  height: 230px;
}

#my-post-list .top-card .post-item__delete-wrapper {
  margin-top: 15px;
}

#my-post-list .top-card .top-user-log {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 5px 17.8px 5px 17.8px;
  border-radius: 8px;
  margin-right: 5px;
}

#my-post-list .top-card .top-user-title {
  width: 300px;
}

#my-post-list .top-card .top-user-good {
  font-size: 20px;
  margin-top: 15px;
}

#my-post-list .top-card .top-user-good > button {
  border: none;
  background-color: transparent;
}

.top-post {
  margin: 0 auto;
  width: 75%;
  height: 990px;
  padding-top: 190px;
}

.top-post .post-card {
  margin: 15px 0;
}

.top-post .post-card > p {
  margin-bottom: 0;
}

.top-post .form-control {
  display: block;
  width: 100%;
}

.top-post .btn-post {
  background-color: #ff33ff;
  border: none;
  color: white;
  width: 100%;
  font-size: 20px;
  margin-top: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center;
}

.top-post .btn-post:hover {
  opacity: 0.7;
}

.top-user-title {
  display: inline;
}

.visible-block {
  display: block;
}

.hidden-block {
  display: none;
}

@media screen and (min-width: 600px) {
  header .nav-item-hidden {
    display: inline-block;
  }
  header .nav-menu {
    display: none;
  }
  header .nav-title-hidden {
    padding: 10px 0;
    margin-right: 30px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    display: inline-block;
    align-items: center;
  }
  header .nav-title-hidden:hover {
    opacity: 0.7;
  }
  .animate-title > h1 {
    font-size: 60px;
  }
  .top-image {
    padding: 150px 0;
  }
  .top-image .top-button {
    width: 24%;
  }
  .top-page .top-card {
    width: 20%;
  }
  .profile-icon {
    width: 200px;
  }
  .profile-main {
    margin: 0 auto;
    padding-top: 200px;
  }
  .profile-main .profile-icon {
    margin-bottom: 50px;
  }
  .profile-main .profile-tab {
    margin: 0 auto;
  }
  .profile-main .profile-tab .top-btn {
    background-color: #ff33ff;
    border: none;
    color: white;
    width: 100%;
    font-size: 20px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    text-decoration: none;
  }
  .profile-main #my-post-list {
    display: flex;
    flex-wrap: wrap;
  }
  .profile-main #my-post-list .post-item {
    margin-right: 20px;
    width: 35%;
  }
  .post-template .post-item {
    margin-right: 50px;
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  /* 600px以下に適用されるCSS（スマホ用） */
  header .nav-title-hidden {
    display: none;
  }
  header .nav-bar {
    width: 100%;
    margin: 0;
    padding: 10;
  }
  header .nav-bar .nav-show-ul {
    padding: 0;
  }
  .profile-img-top {
    width: 286px;
    height: 286px;
  }
  .form-wrapper {
    margin: 0 30px;
  }
  .nav-item {
    width: 100%;
  }
  .top-page {
    margin-left: 15px;
  }
  .profile-main {
    padding-top: 15px;
  }
}
